<!-- college navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <div class="container-fluid text-light">
        <a class="navbar-brand" href="/">
            <img src="/static/img/logos/attendify.svg" alt="Attendify logo" width="28" height="28" class="me-2" />
            Attend<span class="text-danger">ify</span>
        </a>
        <button class="nav navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav1"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav collapse navbar-collapse justify-content-end" id="nav1">
            <div class="navbar-nav">
                <a class=" nav-link active" aria-current="page" href="/collegedashboard">Dashboard</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/contact">Contact</a>
                <a class="nav-link" href="/profile">Profile</a>
            </div>
        </div>
    </div>
</nav>